body {
    background: #999;
}

#page-warp:after {
    content: "Wide Layout";
}

nav {
    float: left;
    height: 300px;
    width: 15%;

}

nav span {
    margin: 0px 100px 0px 0px;
}

section {
    float: right;
    height: 300px;
    width: 80%;
}

footer {
    clear: both;
    display: block;
}