<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>

    <form method="get" action="/quizes/answer">
        <label for="respuesta"> <%= pregunta %> </label>
        <input id="respuesta" type="text" name="respuesta" value="Responda aquó" />
        <input type="submit" value="Enviar"/>
    </form>

</body>
</html>